/* 
 #Container {
    height: calc(100vh - 50px);
    display: flex;
    padding: 10px;
    @media only screen and (max-width:480px){
    flex-direction:column};
  }
  .sc-jgbSNz.fCaZXv {
    display: none;
} */

/* .dcpuJe {
  height: 100vh;
  display: none;
} */

    /* position: relative;
    top: 150px;
    left: 70px; */


    .sc-iNWwEs.fUHcng {
      display: none;
  }

  


