.logo-image {
    width: 150px;
    height: 150px;
    position: relative;
    left: 30px;
    bottom: 20px

 
}


.me-auto {
    color: rgba(19,23,26,1);
    text-transform: uppercase;
    line-height: 2.2;
    letter-spacing: 0.2em;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    height: 75px;
    position: relative;
    top: 0px;
    left: 300px;
    bottom: 10px;
 
}

.nav{
    /* background-color: #E5D2C4; */
    /* background-color: (245,242,237,1); */
    background-color: white;
    height: 8em;
    overflow-y: hidden;


}

/* .nav-bar {

    position: relative;
    bottom: 50px;
    font-weight: 500;
    
}

.sign {
    position: relative;
    bottom: 50px;
    right: 30px;
}

.in {
    position: relative;
    right: 20px;
} */

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 50px;
    list-style: none;
}
.container {
    background-color: white;
}